
/* Font Styles */

p, h1, h2, h3, h4, h5, h6, a
{
    font-family: 'Inter';
}




/* Navigation */

.nav
{
    background: white;
    border-bottom: 0.5px solid #DDE0E3;

    padding: 0px 10px;
    margin: 0px -16px;
    height: 50px;
}

.nav__list
{
    list-style-type: none;
    margin:0;
    padding:0;
}


.nav__item
{
    display: inline;
    float: right;
    margin-top: 8px;
    padding: 4px;
}

h2.nav__page-title
{
    display: inline;
    margin-left: 16px;

    color: black;
    font-size: 32px;
    font-weight: 500;
}




/* Buttons */

.btn__primary
{
    color: white;
    background-color: #337CE8;
}

.btn__outline 
{
    color: black;
    background-color: transparent;
    
    border: 1px solid #DDE0E3;
}

.btn__secondary
{
    background: #02040A;
    color: white;
}

.btn__secondary, .btn__outline, .btn__primary
{
    border-radius: 10px;
    padding: 8px 20px;
    
    font-size: 18px;
    text-decoration: none;
    
    cursor: pointer;
}





/* Hero */

.hero
{
    display: flex;
    /* width: 100%; */
    border-bottom: 0.5px solid #DDE0E3;
    margin: 0 -10px;
    align-items: center;
}


.hero-text__container
{
    width: 50%;
    margin-left: 78px;
    padding: 100px 0;
}

.hero-text__wrapper
{
    width: 450px;
    /* padding: 100px 100px 100px 0; */
}

.hero-text__header > h1
{
    font-size: 56px;
    font-weight: 700;
}

.hero-text__body > p
{
    font-size: 18px;
    line-height: 1.3;

}


.hero-img__container
{
    width: 50%;
    margin-right: 58px;
    padding: 50px 0;

}

.hero-img > img
{
    float: right;
    width: 600px;
    margin-right: 58px;
    /* padding: 50px 0; */
}




/* Page Components */

.page-component-1
{
    border-bottom: 0.5px solid #DDE0E3;
    text-align: center;
    padding: 16px;
    margin: 0 -10px;
}

.page-component-1 > p
{
    font-size: 18px;
    line-height: 1.3;
    margin: auto;
    padding: 0;
}


.page-component-2
{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    padding: 80px 0px;
}

.page-component-2__container
{
    display: inline;
    padding: 32px 70px;
    margin: 12px 10px;

    border: 1px solid #DDE0E3;
    border-radius: 10px;
}

.page-component-2__container > p
{
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}


/* Footer */

footer
{
    height: 80px;
    width: 100%;
    /* border-top: 1px solid #DDE0E3; */
    background-color: #f9fafb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__list-item
{
    padding: 0 12px;
    margin: auto;

    color: black;
    font-size: 16px;
    font-weight: 400;
    /* text-decoration: none; */
}

.footer__container
{
    /* border-top: 1px solid #DDE0E3; */
    padding: 16px 48px;
}

.footer__contents
{
    text-align: center;
}




/* Inline Styles */

.inline__blue-text
{
    color: #337CE8;
}