nav.nav /*selector*/
{
    background: white;

    border-bottom: 0.5px solid #DDE0E3; /*declaration*/
    border-width: 100%;
    padding: 0px;
    margin: 0px;
    height: 50px;
}


ul.nav-selection
{
    list-style-type: none;
    margin:0;
    padding:0;
}


li.navigation
{
    display: inline;
    float: right;
    margin-top: 8px;
    padding: 4px;
}


div.carousel
{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    list-style-type: none;
    margin:0;
    padding: 56px 0px;
}


div.carouselBox
{

    display: inline;
    padding: 32px 70px;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid #DDE0E3;

    font-size: 30px;
}

a.pageTitle
{
    display: inline;
    color: black;

    font-size: 32px;
    font-weight: bold;
    text-decoration: none;

}


.outline-btn 
{
    color: black;

    background-color: transparent;
    border: 1px solid #DDE0E3;
}


.secondary-btn
{
    background: #02040A;
    color: white;

}


a.secondary-btn, a.outline-btn
{

    border-radius: 10px;
    padding: 8px 20px;
    
    font-size: 18px;
    text-decoration: none;
    
    cursor: pointer;
}


ul.footer-selection
{
    list-style-type: none;
    margin:0;
    padding:0;
}

a.footerItem
{
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 24px;
    font-size: 24px;
}

footer.footerNav
{
    padding: 16px 32px;
    text-align: center;
}


h1
{
    font-size: 56px;
}


p.body /*paragraphs with the class "body". This is called an element.class*/
{
    font-size: 18px;
}


.test
{
    border: 1px solid #000;
}


div.hero
{
    display: inline-flex;
    padding: 50px 78px;
}


div.heroText
{    
    width: 465px;
}


img.heroImage
{
    width: 350px;
    height: 350px;

}


div.subHero
{
    border-top: 0.5px solid #DDE0E3;
    border-bottom: 0.5px solid #DDE0E3;
}
