nav.nav /*selector*/
{
    background: white;

    border-bottom: 0.5px solid #DDE0E3; /*declaration*/
    border-width: 100%;
    padding: 0px;
    margin: 0px;
    height: 50px;
}


ul.nav-selection
{
    list-style-type: none;
    margin:0;
    padding:0;
}


li.navigation
{
    display: inline;
    float: right;
    margin-top: 8px;
    padding: 4px;
}


div.carousel
{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    list-style-type: none;
    margin: auto;
    padding: 56px 0px;
    
}


div.carouselBox
{

    display: inline;
    padding: 32px 70px;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid #DDE0E3;

    font-size: 30px;
}

a.pageTitle
{
    display: inline;
    color: black;

    font-size: 32px;
    font-weight: bold;
    text-decoration: none;

}


.outline-btn 
{
    color: black;

    background-color: transparent;
    border: 1px solid #DDE0E3;
}


.secondary-btn
{
    background: #02040A;
    color: white;

}


a.secondary-btn, a.outline-btn
{

    border-radius: 10px;
    padding: 8px 20px;
    
    font-size: 18px;
    text-decoration: none;
    
    cursor: pointer;
}


ul.footer-selection
{
    list-style-type: none;
    margin:0;
    padding:0;
}

a.footerItem
{
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 24px;
}

footer.footerNav
{
    padding: 16px 32px;
    text-align: center;
    border-top: 1px solid #DDE0E3;
}











/* Hero */

.hero
{
    display: inline-flex;
    width: 100%;





    border-bottom: 0.5px solid #DDE0E3;

}


.hero-text-container
{
    width: 50%;
    margin-left: 78px;
    padding: 100px 0;


}


.hero-text-wrapper
{
    width: 450px;
}


.hero-header > h1
{
    font-size: 56px;
    clear:right;
}


.hero-body > p
{
    font-size: 18px;
}


.hero-img-container
{
    width: 50%;
    margin-right: 78px;
}


.hero-img > img
{
    float: right;
    width: 450px;
    height: 450px;
    margin: 50px 0;
}


/* Containers */

.container
{
    border-bottom: 0.5px solid #DDE0E3;
    text-align: center;
}



/* Inline Styles */

.blue-text
{
    color: #337CE8;
}